// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book", Arial, sans-serif 
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

+font(Didot, Didot)  
=reg
	font-family: "Didot", Arial, sans-serif 
	
+font(DidotBold, DidotBold)  
=bold
	font-family: "DidotBold", Arial, sans-serif 
	
+font(DidotItalic, DidotItalic)  
=it
	font-family: "DidotItalic", Arial, sans-serif 
	
+font(DidotLTStdItalic, DidotLTStdItalic)  
=it2
	font-family: "DidotLTStdItalic", Arial, sans-serif 
	
+font(museosanscyrl-300, museosanscyrl-300)  
=museo_300
	font-family: "museosanscyrl-300", Arial, sans-serif 

+font(museosanscyrl-700, museosanscyrl-700)  
=museo_700
	font-family: "museosanscyrl-700", Arial, sans-serif 
	
$light: #eef1f6
$red: #da3e3e
$red_h: darken($red, 7%)
$red_a: darken($red, 10%)
$blue: #122e5c
$blue_h: darken($blue, 7%)
$blue_a: darken($blue, 10%)
$violet: #dbe6f9
$dark: #152033
=tr_o
	+tr(opacity .3s)
=tr_c
	+tr(color .3s)
=tr_bg
	+tr(background .3s)
=tr_bgc
	+transition(background, color, .3s)
=tr_border
	+tr(border .3s)
html
	+selection
		background: rgba($red, .2) 
body
	min-width: 320px
	font-size: 14px 
	line-height: 1.3
	+museo_300
	color: $dark 
	background: $light 
	&.no-scroll
		overflow: hidden
a
	text-decoration: none
.link
	font-size: 24px
	border-bottom: 1px solid $red
	+transition(border, color, .3s)
	color: $blue 
	+it
	+r(1279)
		font-size: 20px
	+r(767)
		font-size: 17px
	&:hover
		border-color: transparent 
		color: $red 
.wrap
	+clr
.wrapper
	overflow: hidden
// common blocks      
.out
	overflow: hidden
.l-center
	margin: 0 auto 
	padding: 0 50px 
	max-width: 1600px
	+r(1599)
		max-width: 1280px
		padding: 0 23px
	+r(1279)
		max-width: 1024px
	+r(1023)
		max-width: 768px
		padding: 0 15px
	+r(767)
		max-width: 320px
.l-inner
	margin: 0 170px 
	+clr
	+r(1599)
		margin: 0 20px 
	+r(1023)
		margin: 0 15px 
	+r(767)
		margin: 0 28px
.l-inner_width
	+r(767)
		margin: 0
.l-cols
	+clr
.l-cols_flex
	+r(767)
		+display-flex
		+flex-direction(column)
	.l-col-right
		+r(767)
			padding: 0 30px
.l-col-left
	float: left
	width: 588px
	+r(1279)
		width: 478px
	+r(1023)
		width: 360px
	+r(767)
		float: none
		width: 100%
		order: 2
.l-col-right
	float: right
	width: 570px
	+r(1279)
		width: 457px
	+r(1023)
		width: 348px
	+r(767)
		float: none
		width: 100%	
		order: 1
		
[class*="icon-"]
	display: inline-block
	vertical-align: middle
.header
	position: relative
	z-index: 5
	margin-top: 50px
	height: 555px
	+cover
	overflow: hidden
	+r(1599)
		margin-top: 23px
	+r(1023)
		margin-top: 15px
		height: 475px
		overflow: visible
	+r(767)
		height: 268px
	&:before
		content: ""
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: -1
		background: rgba(#08275b,.9) 
	&__left
		float: left
		width: 49.2%
		+r(1023)
			float: none
			width: 100%
	&__right
		float: right
		width: 49.2%
		+r(1023)
			display: none

	a
		color: #fff 
	.l-inner
		+r(1023)
			margin: 0 50px 
		+r(767)
			margin: 0 20px
.logo
	display: inline-block
	vertical-align: middle
	width: 195px
	font-size: 16px
	+reg
	line-height: 1.4
	letter-spacing: 0.5px 
	+r(1279)
		width: 155px
	+r(1023)
		width: 170px
		font-size: 14px
	+r(767)
		width: 100px
		margin-top: 13px
		font-size: 11px
	img
		display: block
		margin-bottom: 20px
		+r(767)
			margin-bottom: 15px
			width: 100%
.nav
	position: relative
	z-index: 5
	display: inline-block
	vertical-align: middle
	padding: 18px 0 33px
	width: 198px
	background: $red
	font-size: 20px
	+it
	+r(1023)
		font-size: 18px
		width: 170px
	+r(767)
		display: none
	a
		display: block
		+tr_bgc
	> li
		&.is-active
			> a
				position: relative
				&:before
					width: 275px
					+r(1599)
						width: 292px
					+r(1279)
						width: 215px
				span
					&:before
						+r(1023)
							display: block
		&.has-nav-drop
			> a
				> span
					&:after
						content: ""
						position: absolute
						right: 0
						bottom: 8px
						opacity: 0
						+arr(6,6,#1f3b6b,r)
						+tr_o
			&:hover
				> a
					> span
						&:after
							opacity: 1
		&:first-child
			&.is-active
				> a
					&:after
						height: 293px
						+r(1279)
							height: 251px
		&:nth-child(2)
			&.is-active
				> a
					&:after
						height: 134px
		&:nth-child(3)
			&.is-active
				> a
					&:after
						height: 134px
		&:nth-child(4)
			&.is-active
				> a
					&:after
						height: 134px
		&:hover
			> a
				background: #fff 
				color: #1f3b6b 
		> a
			padding: 11px 10px 10px 30px
			&:before
				content: ""
				position: absolute
				left: 20px
				top: 26px
				width: 0
				height: 1px
				background: #fff 
				+tr(width .3s)
				+r(1023)
					display: none
			&:after
				content: ""
				position: absolute
				left: 294px
				top: 26px
				width: 1px
				height: 0
				background: #fff 
				+tr(height .3s)
				+r(1599)
					left: 311px
				+r(1279)
					left: 234px
				+r(1023)
					display: none
			> span
				padding: 0 26px 0 0 
				position: relative
				+r(1023)
					padding-right: 13px
				&:before
					+r(1023)
						content: ""
						display: none
						position: absolute
						top: 50%
						left: -12px
						right: -12px
						height: 1px
						background: #fff
	li
		&:hover
			> ul
				+transform(translateX(0))	
				opacity: 1
				visibility: visible 
	ul
		position: absolute
		left: 100%
		top: 0
		padding: 20px 0 20px 20px 
		width: 256px
		background: #fff 
		opacity: 0
		visibility: hidden
		+transform(translateX(-5px))
		+transition(opacity, transform, .3s)
		+r(1023)
			font-size: 14px
			width: 188px
		> li
			&:hover
				a
					background: $blue
					color: #fff 
					span
						&:after
							border-color: transparent transparent transparent #fff

			> a
				color: $red
				padding: 10px 20px 10px 40px
				+r(1023)
					padding-right: 10px
					padding-left: 15px
				span
					position: relative
					padding-right: 17px
					&:after
						content: ""
						position: absolute
						bottom: 7px
						right: 0
						+tr_border
						+arr(6,6,$red,r) 
						+r(1023)
							bottom: 4px
		a
			font-size: 18px
			line-height: 1.3
			+r(1023)
				font-size: 14px
				line-height: 1
		ul
			background: $blue
			padding-left: 0
			+r(1023)
				width: 170px
			a
				color: #fff
				padding-right: 45px
				+r(1023)
					padding-left: 20px
					padding-right: 10px
				&:hover
					color: $red 
	
.doc
	+it
	letter-spacing: 0.5px 
	font-size: 14px
	span
		display: inline-block
		vertical-align: middle
		margin-left: 12px

.menu-wrap
	position: relative
	margin: 35px 0 20px -15px
	+r(1279)
		margin-left: -12px
.menu
	+museo_300
	text-transform: uppercase
	letter-spacing: 1.5px
	font-size: 0
	a
		display: inline-block
		position: relative
		vertical-align: middle
		font-size: 13px
		padding: 15px 15px 
		overflow: hidden
		+r(1279)
			font-size: 11px
			padding: 15px 12px
		&:after
			content: ""
			position: absolute
			top: 50%
			left: 0
			height: 1px
			width: 100%
			background: #fff 
			+transform(translate3d(-100%,0,0))
			+transition(transform 0s cubic-bezier(1,0,0,1),opacity 0s cubic-bezier(.19,1,.22,1)) 
		&:hover
			&:after
				+transform(translate3d(110%,0,0))
				+transition(transform .7s cubic-bezier(1,0,0,1),opacity .6s cubic-bezier(.19,1,.22,1))
		&.is-active
			&:after
				+transform(translate3d(0,0,0))
				width: auto
				left: 4px
				right: 4px
				
.btn-search
	position: absolute
	right: 0
	top: 10px
	+svg(glass,24,25)

.soc
	margin-left: -26px
	a
		display: inline-block
		vertical-align: middle
		padding: 20px 
		opacity: 0.7
		+tr_o
		&:hover
			opacity: 1

.page-title
	position: relative
	top: -4px
	text-align: center
	color: #fff 
	span
		display: block
		margin-bottom: -25px
		font-size: 34px
		+it
	strong
		font-weight: normal
		+bold
		text-transform: uppercase
		font-size: 100px
		letter-spacing: 5px 

.breadcrumbs
	margin: -16px 0 0 
	text-align: center
	font-size: 0
	+it
	color: #fff 
	a
		position: relative
		display: inline-block
		padding: 10px 15px
		vertical-align: middle
		font-size: 14px
		opacity: 0.5
		+tr_o
		&:hover
			opacity: 1 
		&:before
			content: "—" 
			position: absolute
			top: 9px
			left: -7px
		&:first-child
			&:before
				display: none
.courses-nav
	position: absolute
	left: 0
	right: 0
	bottom: 0
	+clr
	text-align: center
	+it
	&__title
		float: left
		height: 104px
		line-height: 104px
		width: 305px
		font-size: 18px
		color: #fff 
	&__main
		overflow: hidden
		background: #fff 
	&__list
		display: table
		width: 100%
		table-layout: fixed
		font-size: 18px
		li
			display: table-cell
			vertical-align: middle
			height: 104px
			line-height: 104px
		a
			color: #122e5d 
			display: block
			&:hover
				span
					border-color: transparent 
		span
			display: inline-block
			line-height: 1.2
			border-bottom: 1px solid $red
			+tr_border 

.btn-menu
	display: none
	position: absolute
	right: 0
	top: 0
	z-index: 2
	width: 55px
	height: 55px
	background: $red
	line-height: 1
	+tr(background .3s)
	+r(1023)
		display: block
	i
		display: inline-block
		position: relative
		vertical-align: middle
		height: 3px
		width: 32px
		background: #fff
		&:before,
		&:after
			content: ""
			position: absolute
			left: 0
			right: 0
			height: 3px
			background: #fff
			+tr(transform .3s)
		&:before
			top: -9px
		&:after
			bottom: -9px
	&.is-active
		background: none
		z-index: 11
		i
			background: none
			&:before
				+transform(rotate(45deg) translate3d(6px, 6px, 0))
			&:after
				+transform(rotate(-45deg) translate3d(6px, -6px, 0))
.menu-tablet
	display: none
	position: fixed
	top: 15px
	bottom: 0
	left: 50%
	width: 369px
	z-index: 10 
	+tr(transform .3s)
	+transform(translateX(200%))
	+r(1023)
		display: block
	+r(767)	
		opacity: 0
		visibility: hidden
		width: 320px
		margin-left: -160px
		+tr(opacity .3s)
		+transform(translateX(0))
	&.is-active
		+transform(translateX(0))
		+r(767)
			opacity: 1
			visibility: visible
	&:before
		content: ""
		position: absolute
		z-index: -1
		top: 20px
		bottom: 0
		left: 0
		width: 1px
		box-shadow: 0 0 50px 5px #000
		+r(767)
			display: none
	a
		color: #fff 
	.close
		right: 14px
		top: 14px
		&:before,
		&:after
			height: 3px
		&:before
			background: #fff 
		i
			&:before,
			&:after
				height: 3px
			&:before
				background: #fff 
	&__in
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		padding: 13px 20px 13px 50px 
		z-index: 2
		background: rgba($blue, .98)
		max-height: 100%
		overflow-y: auto
		+r(767)
			padding: 12px 20px
			left: 15px
			right: 15px
	.logo
		margin-bottom: 47px
		width: 100px
		display: block
		font-size: 11px
		+r(767)
			margin-top: 0
		img
			width: 100%
	.doc
		display: inline-block
		margin-left: -50px
		+r(767)
			margin-left: -20px
	.menu-wrap
		margin: 38px 0 8px -15px 
	.menu
		a
			display: block
			padding: 7px 12px 
	.btn-search
		right: 60px
		top: 14px
.touch-nav
	display: none
	margin: 0 0 24px 
	+it2
	font-size: 18px
	a
		display: inline-block
		position: relative
		padding: 12px 0
		&[data-nav]
			&:after
				content: ""
				position: absolute
				right: 0
				bottom: 20px
				+arr(6,6,#fff,r)
	&_main
		font-size: 20px
		a
			padding-right: 25px
		+r(767)
			display: block
	&__back
		background: none
		position: relative
		padding: 10px 22px 
		font-size: 18px
		+it2
		color: #fff
		span
			border-bottom: 1px solid rgba(#fff,.5)
		&:before
			content: ""
			position: absolute
			left: 0
			top: 50%
			margin-top: -3px
			+arr(6,6,#fff,l)

.subtitle
	margin-bottom: 28px
	font-size: 13px
	+museo_300
	text-transform: uppercase
	opacity: 0.7
	letter-spacing: 1.5px 
	+r(1279)
		margin-bottom: 18px
	+r(767)
		font-size: 10px
		margin-bottom: 10px
	&_dark
		opacity: 1
.title-h1
	margin-bottom: 20px
	font-size: 36px
	+bold
	line-height: 42px
	color: #000 
	letter-spacing: .6px 
	text-transform: uppercase
	+r(1279)
		font-size: 30px
	+r(1023)
		margin-bottom: 5px
		font-size: 26px
		line-height: 36px
	+r(767)
		margin-bottom: 20px
		font-size: 16px
		line-height: 20px
.title-h2
	font-size: 24px
	+it
	letter-spacing: .6px 
	color: #000 
	+r(1279)
		font-size: 20px
	+r(1023)
		font-size: 16px
	+r(767)
		font-size: 12px
	a
		color: #fff
		+tr(color .3s)
		&:hover
			color: $red 
.footer
	margin: 0 0 60px 
	padding: 90px 0 0 
	background: #fff
	text-align: center 
	+r(1279)
		padding-top: 72px
		margin-bottom: 0
	+r(1023)
		padding-top: 62px
	+r(767)
		padding-top: 20px
	&__logo
		margin: 61px 0 84px
		font-size: 0
		+r(1279)
			margin-bottom: 42px
		+r(1023)
			margin: 40px 0 22px
		+r(767)
			margin: 12px 0 18px
		a
			display: inline-block
			vertical-align: middle
			padding: 0 30px 
			+r(1279)
				padding: 0 13px 
				margin: 0 0 35px 
			+r(1023)
				width: 20%
			+r(767)
				width: 33.3%
				margin-bottom: 12px
		img
			display: block
			max-width: 100%
			margin: 0 auto 
	&__bottom
		display: table
		table-layout: fixed
		width: 100%
		font-size: 16px
		color: #fff
		+it
		+r(1279)
			font-size: 14px
		+r(1023)
			font-size: 12px
		+r(767)
			+display-flex
			+flex-direction(column)
			padding: 20px 10px 
			background: $blue
			text-align: center
	&__item
		display: table-cell
		vertical-align: middle
		padding: 45px 35px 
		text-align: center
		background: $blue
		letter-spacing: .6px 
		+r(1023)
			padding: 45px 10px  
		+r(767)
			order: 1
			display: block
			padding: 0
		&:first-child
			text-align: left
			+r(1023)
				padding-left: 30px
			+r(767)
				order: 2
				padding: 0
				text-align: center
		&:last-child
			text-align: right
			+r(1023)
				padding-right: 30px
			+r(767)
				order: 3
				margin-top: 5px
				padding: 0
				text-align: center
		img
			display: block
			margin: 0 auto 
			opacity: 0.3
			+r(1023)
				max-width: 165px
			+r(767)
				margin-bottom: 17px
		.link
			color: #fff 
			font-size: 16px
			+r(767)
				font-size: 12px
			&:hover
				color: #fff 

.btn
	display: inline-block
	padding: 32px 20px 31px
	line-height: 1 
	min-width: 457px
	color: #fff
	font-size: 13px
	+museo_300
	background: $red
	text-align: center
	text-transform: uppercase
	+tr(background .3s)
	letter-spacing: 1.5px
	+r(1279)
		padding: 28px 20px 27px  
		min-width: 415px
	+r(1023)
		padding: 21px 20px 20px 
		min-width: 330px
	+r(767)
		min-width: 100%
	&:hover
		background: $red_h
		.icon-arr
			+transform(translateX(10px))
	&:active
		background: $red_a
	strong
		+museo_700
	.icon-arr
		vertical-align: middle
		margin-left: 13px
		+tr(transform .3s)

.section
	position: relative
	padding: 64px 0 67px
	+r(1279)
		padding: 64px 0 62px
	+r(1023)
		padding: 55px 0 45px
	+r(767)
		padding: 25px 0
	&:before
		content: ""
		position: absolute
		top: 0
		bottom: -77px
		left: 366px
		right: 0 
		z-index: -1
		background: $violet 
		+r(1279)
			right: -300px
			left: 200px
		+r(1023)
			left: 103px
		+r(767)
			left: 78px
	.title-group
		padding-right: 100px
		float: right
		width: 90%
		text-align: center
		+r(1279)
			padding-right: 65px
		+r(1023)
			padding-right: 35px
		+r(767)
			padding-right: 0
			margin-bottom: 18px
.section_white
	padding: 80px 0 50px
	+r(1279)
		padding-top: 75px
	+r(767)
		padding: 25px 0
	&:before
		left: 0
		bottom: 0
		right: 366px
		background: #fff 
		+r(1279)
			left: -300px
		+r(1023)
			right: 43px
.items-wrap
	font-size: 0
	text-align: right
	+r(767)
		text-align: left
.item
	position: relative
	display: inline-block
	vertical-align: top
	margin: 0 0 18px 18px 
	padding: 33px 10px 20px 30px
	width: 178px
	height: 186px
	background: #fff 
	font-size: 18px
	+it2
	color: #fff 
	line-height: 1.3
	text-align: left
	+tr(transform .3s)
	overflow: hidden
	+gpu
	+r(1279)
		width: 142px
		height: 148px
		padding: 20px 10px 20px 15px
		margin: 0 0 15px 15px
	+r(1023)
		width: 108px
		height: 113px
		padding: 6px 7px
		margin: 0 0 12px 12px
		font-size: 14px
	+r(767)
		margin: 0 0 18px 18px
	&:before
		content: ""
		position: absolute
		left: 0
		top: 0
		bottom: 0
		width: 100%
		z-index: 0
		+transform(translate3d(-100%,0,0)) 
		+transition(transform .3s)
	&:first-child
		margin-left: 0
	&:nth-child(2n+1)
		+r(767)
			margin-left: 0
	&:hover
		&:before
			+transform(translate3d(0,0,0))
		.icon-arr
			+transform(translateX(10px))
	.icon-arr
		position: absolute
		left: 30px
		bottom: 30px
		+tr(transform .3s)
		+r(1279)
			bottom: 20px
			left: 15px
		+r(1023)
			bottom: 10px
			left: 7px
	&__title
		display: inline-block
		position: relative
		font-size: 24px
		line-height: 1.25
		+r(1023)
			font-size: 18px
		.icon-arr
			left: auto
			right: -40px
			bottom: auto
			top: 10px
			+r(1023)
				right: -35px
				left: auto !important
				top: 7px
	&__text	
		display: block
		margin-top: 11px
		opacity: 0.7
		+r(1023)
			margin-top: 0
	&_red
		background: $red
		&:before
			background: $blue 
	&_blue
		background: $blue
		&:before
			background: $red 
	&_border
		box-shadow: inset 0 0 0 5px $red 
		color: $red 
		+r(1023)
			padding: 10px
		.icon-arr
			+svg(arr-red,20,13)
			+r(1023)
				left: 10px
		&:hover
			box-shadow: none 
			.item__left
				&:before
					height: 100%
					+tr(height .15s linear .1s)
				&:after
					width: 100%
					+tr(width .15s linear .1s)
			.item__right
				&:before
					width: 100%
					+tr(width .15s linear .25s)
				&:after
					height: 100%
					+tr(height .15s linear .25s)
		.item__left,
		.item__right
			&:before,
			&:after
				content: ""
				position: absolute 
				background: $red
		.item__left
			&:before
				top: 0
				left: 0
				width: 5px
				height: 0
				
			&:after
				left: 0
				top: 0
				height: 5px
				width: 0
				
		.item__right
			&:before
				bottom: 0
				left: 0
				height: 5px
				width: 0
				
			&:after
				right: 0
				top: 0
				width: 5px
				height: 0
				
	&_big
		width: 374px
		height: 146px
		+r(1279)
			width: 298px
			height: 116px
			font-size: 16px
		+r(1023)
			padding: 6px 15px
			width: 228px
			height: 90px
			font-size: 14px
		+r(767)
			width: 100%
			margin-left: 0
		.item__title
			+r(1279)
				font-size: 20px
		&.item_border
			+r(767)
				padding-top: 10px
.banner
	display: block
	padding: 48px 0 63px 
	background: $blue 
	text-align: center
	color: #fff 
	&__text
		display: block
		font-size: 40px
		+reg
	&__title	
		display: block
		padding-bottom: 55px
		position: relative
		font-size: 50px
		text-transform: uppercase
		+bold
		&:after
			content: ""
			position: absolute
			left: 50%
			margin-left: -18px
			bottom: 0
			width: 36px
			height: 3px
			background: #fff
	img
		margin-bottom: 36px
	.line-title
		margin: 0 20px 
.line-title
	overflow: hidden
	text-align: center
	font-size: 28px
	+it
	color: #fff 
	span
		display: inline-block
		padding: 0 17px 
		position: relative
		&:before,
		&:after
			content: ""
			position: absolute
			height: 1px
			top: 50%
			width: 1000px 
			background: #fff
		&:before
			left: -1000px
		&:after
			right: -1000px

.news-cols
	padding: 70px 0 140px 
	+clr
	+r(1279)
		padding: 35px 0 90px 
	+r(1023)
		padding-bottom: 75px
	+r(767)
		padding: 25px 0 30px
	&__left
		float: left
		padding-top: 45px
		width: 196px
		+r(767)
			float: none
			margin: 0 auto 35px
			padding: 0
	&__right
		overflow: hidden
		padding-left: 100px
		+r(1279)
			padding-left: 37px
		+r(767)
			padding: 0
	.post
		float: left
		margin-right: 43px
		+r(1279)
			margin-left: 0
		+r(1023)
			margin-top: 30px
		+r(767)
			margin: 0
			float: none
		+ .wrapper
			+r(1023)
				display: none
.post
	position: relative
	max-width: 446px
	padding: 0 20px 30px 0
	+r(1279)
		max-width: 395px
	&:hover
		.img
			&:before
				background: #103373
	&:before
		content: ""
		position: absolute
		top: 20px
		left: 20px
		right: 0
		bottom: 0
		z-index: -1
		background: #fff  
	&__body
		padding-top: 30px
		+clr
		+r(1279)
			padding-top: 20px
	&__main
		overflow: hidden
	.date
		float: left
		margin-top: -5px
		padding: 0 6px 
		width: 83px
		+text-overflow
.img
	position: relative
	overflow: hidden
	&:before
		content: ""
		position: absolute
		top: 0
		right: 0
		bottom: 0 
		left: 0
		background: #c90000
		+tr(background .3s)
	img
		display: block
		width: 100%
		
		+filter(grayscale(1) opacity(0.5) brightness(1.5) contrast(1.5))
.date
	font-size: 14px
	line-height: 1.2
	letter-spacing: .6px 
	+it
	span
		display: block
		+reg
		font-size: 48px
		&:first-letter
			font-size: 30px
			
.meta
	font-size: 14px
	color: #666
	+it

.post-link
	margin-bottom: 33px
	.meta
		margin-top: 10px


.popup
	opacity: 0
	visibility: hidden
	position: fixed
	padding: 82px 0
	top: 50px
	left: 50%
	bottom: 0
	z-index: 15
	margin-left: -750px
	width: 1500px
	background: $blue 
	+transition(opacity .4s, transform .4s cubic-bezier(0.7,0,0.3,1))
	+transform(translate3d(0,-100%,0))
	&.is-visible-in
		opacity: 1
		visibility: visible
		+transform(translate3d(0,0,0))
		.popup__in
			+transform(translate3d(0,0,0))
	&.is-visible-out
		opacity: 0
		+transform(translate3d(0,50%,0))
	+r(1599)
		top: 23px
		margin-left: -617px
		max-width: 1234px
	+r(1279)
		margin-left: -489px
		padding: 40px 0 
		max-width: 978px
	+r(1023)
		top: 15px
		margin-left: -369px
		max-width: 738px
	+r(767)
		margin-left: -145px
		max-width: 290px
	.desktop &
		.popup__in
			+scrollbar
				width: 4px
				height: 4px
			+scrollbar-thumb
				background: rgba(#fff, .5)
	&__in
		margin: 0 auto  
		padding: 0 30px 
		width: 775px
		max-height: 100%
		overflow-y: auto
		+transform(translate3d(0,-200px,0))
		+transition(transform .4s cubic-bezier(0.7,0,0.3,1) .2s)
		+r(1279)
			width: 100%
			padding: 0 50px 
		+r(767)
			padding: 0 30px 
.close
	position: absolute
	width: 27px
	height: 27px
	background: none
	overflow: hidden
	&:hover
		&:before
			+transform(rotate(-45deg) translate3d(-120%,0,0))
			opacity: 0
		&:after
			+transform(rotate(-45deg) translate3d(0,0,0))
			opacity: 1
		i
			&:before
				opacity: 0
				+transform(rotate(45deg) translate3d(120%,0,0))
			&:after
				opacity: 1
				+transform(rotate(45deg) translate3d(0,0,0))
			
	&:before,
	&:after
		content: "" 
		position: absolute
		left: 50%
		top: 50%
		margin: -1px 0 0 -13px
		width: 27px
		height: 2px
		+transition(transform .6s cubic-bezier(.19,1,.22,1),opacity .2s cubic-bezier(.19,1,.22,1))
	&:before
		background: rgba(#d6dbe5, .5)
		+transform(rotate(-45deg) translate3d(0,0,0))
	&:after
		opacity: 0
		background: #fff 
		+transform(rotate(-45deg) translate3d(120%,0,0))
	i
		position: absolute
		top: 0
		left: 0
		width: 27px
		height: 27px
		&:before,
		&:after
			content: "" 
			position: absolute
			left: 50%
			top: 50%
			margin: -1px 0 0 -13px 
			width: 27px
			height: 2px
			+transition(transform .6s cubic-bezier(.19,1,.22,1) .2s,opacity .2s cubic-bezier(.19,1,.22,1) .18s)
		&:before
			background: rgba(#d6dbe5, .5)
			+transform(rotate(45deg) translate3d(0%,0,0))
		&:after
			opacity: 0
			background: #fff
			+transform(rotate(45deg) translate3d(120%,0,0))
.search
	position: relative
	margin-bottom: 100px
	+r(1279)
		margin-bottom: 50px
	+r(767)
		margin-bottom: 30px
	.close
		left: -27px
		bottom: 31px
		display: none
		+r(1279)
			bottom: 14px
	label
		&.has-error
			position: absolute
			top: 100%
			left: 0
			color: $red
			font-size: 20px
			+it 
	&__input
		display: block
		width: 100%
		padding: 0 77px 0 20px
		background: none
		border-bottom: 2px solid
		height: 97px
		font-size: 48px
		+it
		color: #fff 
		+r(767)
			padding: 0 45px 0 20px
		+r(1279)
			height: 50px
			font-size: 30px
		+r(767)
			font-size: 20px
			height: 40px
		+placeholder
			opacity: 0.3
		&.has-error
			border-color: $red 
	&__btn
		position: absolute
		right: 12px
		top: 36px
		+svg(glass,34,35)
		+r(1279)
			top: 5px
		+r(767)
			+svg(glass,17,18)
.result
	margin-bottom: 45px
	color: rgba(#fff,.7)
	+it
	font-size: 18px 
	+r(1279)
		margin-bottom: 20px
		font-size: 16px
	+r(1024)
		font-size: 14px
	.title-h2
		margin-bottom: 10px
		color: #fff
	span
		color: $red 
		 