.courses-nav
	position: relative
	z-index: 2
	+clr
	text-align: center
	+it
	font-size: 18px
	+r(1230)	
		font-size: 16px
	+r(1023)
		position: static
	&__main
		overflow: hidden
	&__list
		display: table
		width: 100%
		table-layout: fixed
		+r(1230)	
			table-layout: auto
		+r(767)
			display: block
			padding: 10px 0 
		li
			display: table-cell
			vertical-align: middle
			+r(767)
				display: block
				height: auto
				line-height: 1.2
			&.is-active
				a
					background: none
					color: #fff
					span
						border: none 
		a
			display: block
			color: #122e5d 
			+tr_bgc
			background: #fff 
			height: 105px
			line-height: 105px
			+r(1230)
				height: 80px
				line-height: 80px
			+r(767)
				padding: 10px 
				height: auto
				line-height: 1.2
			&:hover
				color: $red 
				background: #FAFAFA 
				span
					border-color: transparent 
		span
			border-bottom: 1px solid $red
			line-height: 1.2
			+tr_border 

.text
	font-size: 14px
	line-height: 1.7
	+museo_300
	letter-spacing: .6px 
	color: $dark 
	+r(767)
		font-size: 12px
	p
		margin: 25px 0
		+r(767)
			margin: 15px 0 
	ul
		li
			position: relative
			padding-left: 47px
			margin: 25px 0 
			+r(767)
				margin: 15px 0 
			&:before
				content: ""
				position: absolute
				left: 0
				top: 10px
				height: 1px
				width: 26px 
				background: $red 
.page-title
	position: relative
	top: 0
	text-align: center
	color: #fff 
	+r(1230)
		margin-top: 20px
	+r(1023)
		margin-top: 10px
	+r(767)
		margin-top: 30px
	span
		display: block
		margin-bottom: -25px
		font-size: 34px
		+it
		+r(1230)
			font-size: 30px
			margin-bottom: -10px
		+r(1023)
			margin-bottom: 0
			font-size: 20px
	strong
		font-weight: normal
		+bold
		text-transform: uppercase
		font-size: 100px
		letter-spacing: 5px 
		+r(1230)
			font-size: 80px
		+r(1023)
			font-size: 50px
		+r(767)
			font-size: 20px
.breadcrumbs
	margin: -16px 0 0 
	text-align: center
	font-size: 0
	+it
	color: #fff 
	+r(1023)
		margin-top: 0
	a
		position: relative
		display: inline-block
		padding: 10px 15px
		vertical-align: middle
		font-size: 14px
		opacity: 0.5
		+tr_o
		+r(767)
			padding: 5px 10px 
		&:hover
			opacity: 1 
		&:before
			content: "—" 
			position: absolute
			top: 9px
			left: -7px
			+r(767)
				top: 4px
		&:first-child
			&:before
				display: none
				
.contacts
	margin: 25px 0 
	+museo_300
	font-size: 14px
	+r(767)
		margin: 15px 0 
	span
		+museo_700
	a
		color: $red
		+tr_c
		&:hover
			color: #000 
		&[href^="tel"]
			color: #000
			&:hover
				color: $red
			
.box
	display: block
	position: relative
	margin-bottom: 18px
	color: $blue
	background: #fff 
	+clr
	+r(767)
		padding-bottom: 30px
	&:hover
		.part-left
			&:before
				height: 100%
				
			&:after
				width: 100%
				
		.part-right
			&:before
				width: 100%
				
			&:after
				height: 100%
		.box__title
			color: $red
			&:before
				opacity: 0
				+transform(translateX(12px))
			&:after
				opacity: 1
				+transform(translateX(12px))
		.link
			color: $red
			border-color: transparent 
		.price
			color: $red 
	&__in
		padding: 35px 33px 
	&__left
		float: left
		width: 393px
		padding: 16px 55px 16px 35px 
		+r(1023)
			float: none
			padding: 15px 
			width: 100%
	&__middle
		overflow: hidden
		padding: 16px 10px 16px 0 
		+r(1023)
			float: none
			padding: 15px 
			width: 100%
	&__right
		float: right
		width: 276px
		padding: 16px 28px 16px 0 
		text-align: right
		+r(1023)
			position: absolute
			top: 15px
			right: 0
			padding: 0 15px 
			width: 100%
			text-align: right
		+r(767)
			position: static
			text-align: left
	&__title
		position: relative
		font-size: 24px
		+bold
		line-height: 1.25
		+tr_c
		+r(1230)
			font-size: 20px
		+r(1023)
			font-size: 18px
		+r(767)
			font-size: 16px
			display: block
			max-width: 80%
		&:before,
		&:after
			content: ""
			position: absolute
			right: -38px
			bottom: 7px
			+transition(opacity .3s, transform, .3s)
			+r(767)
				display: none
		&:before
			+svg(arr-blue,20,13)
		&:after
			+svg(arr-red,20,13)
			opacity: 0
	&__subtitle
		margin-top: 12px 
		opacity: 0.7
		+it
		font-size: 18px
		+r(1023)
			font-size: 16px
		+r(767)
			font-size: 14px
	.link
		position: absolute
		right: 28px
		bottom: 40px
		+r(767)
			bottom: 20px
			
.box-wrap
	position: absolute
	top: 0
	left: 0
	z-index: 2
	+r(1023)
		position: static
		width: 317px
		margin: 0 auto 20px
		+r(767)
			width: 100%
	&.is-fixed
		position: fixed
		top: 64px
		width: 317px
		z-index: 5
		+r(1023)
			position: static
		+r(767)
			width: 100%


.box_border
	box-shadow: inset 0 0 0 5px $red 
	.box__subtitle
		margin-bottom: 30px
	.box__title
		&:after,
		&:before
			display: none
	&:hover
		.box__title
			color: $blue 
.list
	li
		position: relative
		margin: 18px 0
		padding-left: 20px
		color: #152033
		font-size: 14px
		+museo_300
		line-height: 1.3
		+r(767)
			font-size: 12px
			margin: 10px 0 
		&:before
			content: ""
			position: absolute
			left: 0
			top: 4px
			+svg(romb,9,9)

.price
	color: $red
	color: rgba($red, .5)
	font-size: 18px
	+it
	+tr_c
	+r(1023)
		font-size: 16px
	+r(767)
		font-size: 14px
.article
	margin: 0 auto 
	max-width: 895px
	font-size: 14px
	line-height: 1.7
	+museo_300
	letter-spacing: .6px 
	color: $dark 
	+clr
	+r(767)
		font-size: 12px
	+ .to-center
		.btn
			margin: 100px 0 60px
			+r(1230)
				margin: 60px 0 30px
			+r(1023)
				margin: 30px 0 15px
	> h2
		&:first-child
			margin-top: 0
	> a
		display: inline
		border-bottom: 1px solid $red
		+transition(border, color, .3s)
		color: $blue 
		+it
		&:hover
			border-color: transparent 
			color: $red 
	h2
		margin: 65px 0 35px 
		color: $blue
		+bold
		line-height: 1.25
		font-size: 24px 
		+r(1230)
			margin: 45px 0 15px 
			font-size: 20px
		+r(1023)
			margin: 25px 0 15px 
			font-size: 18px
		+r(767)
			font-size: 16px
	> p
		margin: 25px 0
		+r(767)
			margin: 15px 0 
	> ul
		margin: 25px 0 80px
		+r(767)
			margin: 15px 0 40px
		li
			position: relative
			margin: 18px 0
			padding-left: 20px
			color: #152033
			font-size: 14px
			+museo_300
			line-height: 1.3
			&:before
				content: ""
				position: absolute
				left: 0
				top: 4px
				+svg(romb,9,9)
	blockquote
		margin-bottom: 70px
		clear: both
		padding: 50px 80px
		background: $red 
		font-size: 24px
		color: #fff
		+it
		line-height: 1.3 
		+r(1230)
			margin-bottom: 50px
			padding: 20px 40px
			font-size: 20px
		+r(1023)
			margin-bottom: 30px
			padding: 10px 20px
			font-size: 18px
		+r(767)
			font-size: 16px
	> .img
		float: right
		max-width: 450px
		margin: 0 40px 85px 0
		+r(1230)
			margin: 0 20px 40px 0
		+r(1023)
			float: none
		+r(767)
			float: none
			margin: 0 0 40px 
	> .img_blue
		float: left
		margin-left: -196px
		+r(1550)	
			margin-left: -100px
		+r(1230)
			margin-left: 0
		+r(1023)
			float: none
		+r(767)
			float: none
	.slider_big
		margin-left: -196px
		margin-bottom: 25px
		.slick-dots
			left: 196px
			text-align: left
			+r(1550)
				left: 0
				text-align: center
		+r(1550)	
			margin-left: -100px
			
		+r(1230)
			margin-left: 0
.reviews-slider
	margin-bottom: 55px
	float: right
	margin-right: 47px
	width: 816px
	+r(1023)
		width: 100%
		margin: 0 auto 50px
	&_small
		margin: 0 24px 0 0
		width: 617px
		+r(1230)
			width: 100%
			padding-left: 35px
		+r(1023)
			margin-bottom: 50px
	h2
		margin-left: 90px
	.slick-dots
		display: none !important
		+r(1023)
			display: block !important
	.slick-next,
	.slick-prev
		+r(1023)
			display: none !important
		
.review
	padding: 15px 20px 10px 80px
	position: relative
	z-index: 2
	font-size: 18px
	+it
	color: $blue 
	+r(1023)
		font-size: 16px
	+r(767)
		padding: 15px 0px 10px 50px
		font-size: 13px
	&_small
		.review__bg
			width: 510px
			height: 150px
			+r(1230)
				display: none
			&:before
				+arr(32,537,#eef1f6,bl) 
			&:after
				+arr(30,140,#eef1f6,tl)
	&:before
		content: "“" 
		position: absolute
		top: 12px
		left: 20px
		font-size: 90px
		+bold
		line-height: 1
		color: $red 
		+r(767)
			font-size: 40px
	&__bg
		position: absolute
		z-index: -1
		left: 53px
		top: 0
		width: 670px
		height: 150px
		background: #eef1f6
		+rotate(-3)
		+r(1023)
			display: none
		&:before
			content: ""
			position: absolute
			top: -32px
			left: 0
			+arr(32,702,#eef1f6,bl) 
			+gpu
		&:after
			content: ""
			position: absolute
			top: 0
			right: -30px
			+arr(30,150,#eef1f6,tl) 
			+gpu
	.user
		margin-top: 10px
.user
	font-size: 18px
	+bold
	line-height: 1.6
	p
		margin-bottom: 18px
	&__img	
		display: inline-block
		margin-right: 13px
		vertical-align: middle
		width: 45px
		height: 45px
		overflow: hidden
		border-radius: 50%
		img
			display: block
			width: 100%
			border-radius: 50%
			
.infobox
	position: relative
	padding: 60px 40px 40px 60px 
	background: #fff
	font-size: 14px
	+museo_300
	color: $dark 
	line-height: 1.7
	box-shadow: inset 0 0 0 5px $red  
	+r(1230)
		padding: 40px 
	+r(767)
		padding: 20px 
		font-size: 12px
	&__title
		margin: 0 0 27px 
		font-size: 24px
		color: $blue
		+bold
		text-align: center
		+r(1023)
			margin-bottom: 20px
		+r(767)
			font-size: 16px
	&__list
		+counter(info, ".")
		li
			margin-bottom: 44px
			+r(1023)
				margin-bottom: 20px
			&:before
				float: left
				margin: 6px 5px 0 0 
				line-height: 0.9
				font-size: 48px
				+bold
				color: $red 
				+r(767)
					font-size: 24px
			span
				display: block
				color: $red
				+it 
				font-size: 18px
				+r(767)
					font-size: 14px
	.close
		position: absolute
		right: 21px
		top: 18px
		+r(767)
			top: 10px
			right: 10px
			

.btn_cart
	position: fixed
	right: 0
	bottom: 0
	z-index: 5
	text-transform: none
	width: 540px
	box-shadow: 0 -5px 5px rgba($blue, .1)
	+transform(translate3d(0,150px,0))
	+tr(transform .3s)
	&.is-visible
		+transform(translate3d(0,0,0))
	+r(1230)
		width: 300px
	+r(1023)
		width: 200px
	+r(767)
		width: 290px
		left: 50%
		margin-left: -145px
		right: auto 
		height: 45px
		padding: 0
		min-width: 290px
		line-height: 45px
	&:hover
		box-shadow: none 
	.icon-cart
		vertical-align: baseline
		margin-right: 20px
		
.cart
	position: fixed
	right: 0
	top: 0
	bottom: 0
	z-index: 10
	width: 540px
	background: #fff 
	+tr(transform .3s)
	+transform(translateY(120%))
	+r(767)
		width: 290px
		left: 50%
		margin-left: -145px
	&.is-visible-in
		+transform(translateY(0))
	&.is-visible-out	
		+transform(translateY(100%))
	&:before
		content: ""
		position: absolute
		z-index: -1
		top: 20px
		bottom: 0
		left: 0
		width: 1px
		box-shadow: 0 0 50px 5px #000
		+r(767)
			display: none
	&__in
		position: absolute
		top: 0
		left: 0
		right: 0
		z-index: 2
		background: #fff 
		height: 100%
	&__scroll
		padding: 50px 50px 0 80px 
		max-height: 100%
		overflow-y: auto
		overflow-x: hidden
		+r(1230)
			padding: 30px 30px 60px 30px
		+r(767)
			padding: 20px 20px 60px 20px
		+scrollbar
			width: 4px
			height: 4px
		+scrollbar-thumb
			background: #d8dde7
	.close
		position: absolute
		right: 50px
		top: 50px
		+r(1230)
			top: 30px
			right: 30px
		+r(767)
			top: 10px
			right: 10px
	&__title
		margin-bottom: 40px
		font-size: 24px
		+bold
		color: $blue 
	.field
		padding-right: 70px
	.btn
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		+r(767)
			height: 40px
			line-height: 40px
			padding: 0
.cart_vertical
	.cart__in
		+vertical
	.success
		display: inline-block
		vertical-align: middle
		padding: 0 70px 100px
		font-size: 31px
		+it
		color: #000
		&__title
			font-size: 46px
			+bold
.steps
	+museo_300
	margin-bottom: 50px
	li
		display: inline-block
		position: relative
		vertical-align: top
		width: 114px
		padding-left: 80px
		+r(767)
			padding-left: 35px
			width: 69px
		&:first-child
			padding-left: 0
			width: 33px
			&:before
				display: none
		&:before
			content: ""
			position: absolute
			top: 17px
			left: -4px
			width: 85px 
			height: 1px
			background: #dfdfdf
			+r(767)
				width: 39px
		a
			color: #c0c0c2 
		&.is-active
			a
				color: $red
			&:before
				background: $red 
			i
				background: $red
				color: #fff
				border-color: $red 
			span
				color: $red 
		i
			display: block
			margin-bottom: 7px
			width: 33px
			height: 33px
			text-align: center
			line-height: 33px
			font-size: 18px
			color: #fff
			border: 1px solid #dfdfdf
			border-radius: 50% 
			font-style: normal
			color: #dfdfdf 
		span
			display: block
			font-size: 12px

.form-info
	position: relative
	margin: 46px 0 0 
	border-top: 1px solid #eef1f6
	padding: 22px 0 0 
	color: $dark
	font-size: 14px
	+museo_300 
	+r(767)
		margin-top: 20px
		padding-top: 10px
	&__in
		position: relative
		sup
			position: absolute
			left: -7px
			top: 0 
			font-size: 14px
.cart-item-wrap
	margin-bottom: 100px		
.cart-item
	+clr
	margin-bottom: 40px
	border-bottom: 1px solid #eef1f6 
	padding-bottom: 45px
	font-size: 14px
	color: $dark
	+museo_300
	line-height: 1.7 
	+r(1230)
		padding-bottom: 20px
		margin-bottom: 20px
	+r(767)
		font-size: 12px
	&__left
		float: left
		width: 233px
	&__right
		float: right
	.title
		margin-bottom: 14px
	+ .total-price
		margin-top: -40px
		+r(1230)
			margin-top: -20px
.total-price
	border-top: 3px solid 
	padding: 32px 0 0
	font-size: 62px
	color: $dark
	+bold
	line-height: 1
	+r(1230)
		font-size: 40px
		padding-top: 10px
	+r(1023)
		font-size: 24px
.btn-remove
	font-size: 14px
	+museo_300
	color: $red
	background: none
	&:hover
		color: $red_h 
		
.payment
	position: relative
	margin-bottom: 3px
	padding-left: 50px
	height: 60px
	background: #eef1f6
	line-height: 60px
	cursor: pointer
	&:before
		content: "" 
		position: absolute
		top: 50%
		left: 22px
		margin-top: -5px
		width: 10px
		height: 10px
		box-shadow: inset 0 0 0 1px $red
		border-radius: 50% 
		+transition(box-shadow .5s)
	&.is-active
		&:before
			box-shadow: inset 0 0 0 10px $red
	&__main
		display: inline-block
		vertical-align: middle
		img
			display: block
			
.cart-info
	position: relative
	padding: 33px 40px
	margin: 50px 0 0 
	box-shadow: inset 0 0 0 5px
	font-size: 14px
	+museo_300
	color: $dark
	.title
		padding-right: 20px
		color: $dark 
	ul
		margin: 10px 0 23px
		li
			margin-bottom: 6px
	.price
		padding-top: 10px
		color: $red
		font-size: 36px
		+bold
		border-top: 1px solid #d8dde7  
	.btn-edit 
		position: absolute
		top: 33px
		right: 20px
.btn-edit 
	width: 30px
	height: 30px
	background: none
	&:before,
	&:after
		content: ""
		position: absolute
		top: 50%
		left: 50%
		margin: -8px 0 0 -8px
		+tr(opacity .3s)
	&:before
		+s(pencil)
	&:after
		opacity: 0
		+s(pencil-h)
	&:hover
		&:before
			opacity: 0
		&:after
			opacity: 1
.list-icon
	margin: 0 0 60px
	font-size: 0
	+r(1230)
		margin-bottom: 40px
	+r(1023)
		margin-bottom: 30px
	&__item
		display: inline-block
		vertical-align: middle
		width: 33.3%
		font-size: 18px
		line-height: 1.2
		+it
		color: $red 
		+r(767)
			width: 100%
			margin-bottom: 10px
	&__table
		display: table
		width: 100%
		table-layout: fixed
		div
			display: table-cell
			vertical-align: middle
			&:first-child
				padding-right: 5px
				width: 80px
				img
					max-width: 100%
		span
			display: block
			max-width: 75%
			
